# Рабочая тетрадь №2. Библтотеки
###  %USERNAME%
## Библиотека NumPy
&emsp;&emsp;NumPy (__Num__erical__Py__thon) - это библиотека Python с открытым исходным кодом, которая используется практически во всех областях науки и техники. Это универсальный стандарт для работы с числовыми данными в Python.  
&emsp;&emsp;Если у вас уже есть Python, вы можете установить NumPy с помощью командной строки:  

- _pip install numpy_  

&emsp;&emsp;Чтобы начать использовать NumPy необходимо импортировать соответствующую библиотеку:  

- _import numpy as np_  

&emsp;&emsp;Основным объектом NumPy является однородный многомерный массив (в numpy называется numpy.ndarray). Это многомерный массив элементов (обычно чисел), одного типа.  
&emsp;&emsp;Наиболее важные атрибуты объектов ndarray:  
- __ndarray.ndim__ - число измерений (чаще их называют "оси") массива.  
- __ndarray.shape__ - размеры массива, его форма. Это кортеж натуральных чисел, показывающий длину массива по каждой оси. Для матрицы из n строк и m столбов, shape будет (n,m). Число элементов кортежа shape равно ndim.  
- __ndarray.size__ - количество элементов массива. Очевидно, равно произведению всех элементов атрибута shape.
- __ndarray.dtype__ - объект, описывающий тип элементов массива. Можно определить dtype, используя стандартные типы данных Python. NumPy здесь предоставляет целый букет возможностей, как встроенных, например: bool_, character, int8, int16, int32, int64, float8, float16, float32, float64, complex64, object_, так и возможность определить собственные типы данных, в том числе и составные.
- __ndarray.itemsize__ - размер каждого элемента массива в байтах.
- __ndarray.data__ - буфер, содержащий фактические элементы массива. 

Обычно не нужно использовать этот атрибут, так как обращаться к элементам массива проще всего с помощью индексов.  
&emsp;&emsp;Подробнее о массивах в NumPy можно найти в официальной документации https://numpy.org/doc/stable/user/absolute_beginners.html

### 1.3.1 Задание
Создать 8x8 матрицу и заполнить её в шахматном порядке нулями и 
единицами

In [107]:
import numpy as np
x = np.full((8, 8),0)
for i in range(8):
    for j in range(8):
        if (i + j) % 2 == 1: x[i, j] = 1
print(x)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

### 1.3.2 Задание
Создать 5x5 матрицу со значениями в строках от 0 до 4. Для создания необходимо использовать функцию arrange.

In [108]:
import numpy as np
b = np.full((5, 5), 1).reshape(5, 5) * np.arange(5)
print(b)

[[0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]]

### 1.3.3 Задание
Создать массив 3x3x3 со случайными значениями.

In [109]:
import numpy as np
x = np.random.randint(10, size=(3, 3, 3))
print(x)

[[[3 6 4]
  [9 5 4]
  [7 5 9]]

 [[2 3 9]
  [3 7 4]
  [2 1 7]]

 [[7 8 0]
  [0 3 4]
  [1 7 8]]]

### 1.3.4 Задание
Создать матрицу с 0 внутри, и 1 на границах

In [110]:
import numpy as np
x = np.full((10, 10), 1)
x[1:-1, 1:-1] = 0
        
print(x)

[[1 1 1 1 1 1 1 1 1 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 1 1 1 1 1 1 1 1 1]]

### 1.3.5 Задание
Создайте массив и отсортируйте его по убыванию.

In [111]:
import numpy as np
x = np.random.randint(10, size=(3, 3))
print(-np.sort(-x))

[[8 7 6]
 [7 3 3]
 [8 6 2]]

### 1.3.6 Задание
Создайте матрицу, выведите ее форму, размер и размерность.

In [112]:
import numpy as np
x = np.ones((10, 10))
print(x.size)
print(x.shape)
print(x.ndim)

100
(10, 10)
2

## Библиотека Pandas
&emsp;&emsp;Первым шагом в любом начинании в области машинного обучения является введение исходных данных в систему. Исходные данные могут вводиться вручную, содержаться в файле или храниться в интернете в каком-либо формате. Кроме того, часто требуется получить данные из нескольких источников.  
&emsp;&emsp;_Библиотека pandas_ – это удобный и быстрый инструмент для работы с данными, обладающий большим функционалом. Если очень кратко, то _pandas_ – это библиотека, которая предоставляет очень удобные с точки зрения использования инструменты для хранения данных и работе с ними.  
&emsp;&emsp;_Библиотека pandas_ присутствует в стандартной поставке Anaconda. Если же ее там нет, то его можно установить отдельно. Для этого введите командной строке:  
- pip install pandas  

&emsp;&emsp;Для импорта библиотеки используйте команду: import pandas as pd Библиотека pandas предоставляет две ключевые структуры данных: Series и DataFrame.  
&emsp;&emsp;__Series__ – это одномерная структура данных, ее можно представить, как таблицу с одной строкой. С Series можно работать как с обычным массивом (обращаться по номеру индекса), и как с ассоциированным массивом, когда можно использовать ключ для доступа к элементам данных.  
&emsp;&emsp;__DataFrame__ – это двумерная структура. Идейно она очень похожа на обычную таблицу, что выражается в способе ее создания и работе с ее элементами.

### 2.3.1 Задание
Найдите евклидово расстояние между двумя Series (точками) a и b, не 
используя встроенную формулу.

In [113]:
import pandas as pd
import numpy as np
a = pd.Series([1, 2, 7])
b = pd.Series([9, 4, 3])
c = 0
for i in range(len(a)):
    c += (a[i] - b[i]) ** 2
print(np.sqrt(c))

9.16515138991168

### 2.3.2 Задание
Найдите в Интернете ссылку на любой csv файл и сформируйте из 
него фрейм данных (например, коллекцию фреймов данных можно 
найти здесь: https://github.com/akmand/datasets).

In [114]:
import pandas as pd
x = pd.read_csv("https://raw.githubusercontent.com/akmand/datasets/main/birdkeeper_lungcancer.csv")
x.head(5)

     fm    ss      bk  ag  yr  cd          lc
0  Male   Low    Bird  37  19  12  LungCancer
1  Male   Low    Bird  41  22  15  LungCancer
2  Male  High  NoBird  43  19  15  LungCancer
3  Male   Low    Bird  46  24  15  LungCancer
4  Male   Low    Bird  49  31  20  LungCancer

### 2.3.3 Задание
Проделайте с получившемся из предыдущего задания фреймом данных 
те же действия, что и в примерах 2.2.5-2.2.7.

In [115]:
import pandas as pd
x = pd.read_csv("https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv")
x.head(5)
x.tail(2)
x.shape
x.describe()

              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

## Работа с числовыми данными
&emsp;&emsp;Количественные данные что-то измеряют – будь то размер класса, ежемесячные продажи или оценки учащихся. Естественным способом представления этих величин является численным (например, 150 студентов, $529 392 продаж).  
&emsp;&emsp;___Нормализация данных___ — это общепринятая задача предобработки в машинном обучении. Многие алгоритмы предполагают, что все признаки находятся в единой шкале, как правило, от 0 до 1 или от -1 до 1.  
&emsp;&emsp;Существует множество способов нормализации значений признаков, чтобы масштабировать их к единому диапазону и использовать в различных моделях машинного обучения. В зависимости от используемой функции, их можно разделить на 2 большие группы: линейные и нелинейные. При нелинейной нормализации в расчетных соотношениях используются функции логистической сигмоиды или гиперболического тангенса. В линейной нормализации изменение переменных осуществляется пропорционально, по линейному закону.  
&emsp;&emsp;На практике наиболее распространены следующие методы нормализации признаков:  
- ___Минимакс___ – линейное преобразование данных в диапазоне [0..1], где минимальное и максимальное масштабируемые значения соответствуют 0 и 1 соответственно;
- ___Z-масштабирование___ данных на основе среднего значения и стандартного отклонения: производят деление разницы между переменной и средним значением на стандартное отклонение.

### 3.3.2 Задание
Загрузить фрейм данных по ссылке:
https://raw.githubusercontent.com/akmand/datasets/master/iris.csv.
Необходимо выполнить нормализацию первого числового признака 
(sepal_length_cm) с использованием минимаксного преобразования, а 
второго (sepal_width_cm) с задействованием z-масштабирования.

In [116]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
x = pd.read_csv("https://raw.githubusercontent.com/akmand/datasets/master/iris.csv")
scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
scalerZ = preprocessing.StandardScaler()
x[["sepal_length_cm"]] = scaler.fit_transform(x[["sepal_length_cm"]])
x[["sepal_width_cm"]] = scalerZ.fit_transform(x[["sepal_width_cm"]])
x

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
0,0.222222,1.032057,1.4,0.2,setosa
1,0.166667,-0.124958,1.4,0.2,setosa
2,0.111111,0.337848,1.3,0.2,setosa
3,0.083333,0.106445,1.5,0.2,setosa
4,0.194444,1.263460,1.4,0.2,setosa
...,...,...,...,...,...
145,0.666667,-0.124958,5.2,2.3,virginica
146,0.555556,-1.281972,5.0,1.9,virginica
147,0.611111,-0.124958,5.2,2.0,virginica
148,0.527778,0.800654,5.4,2.3,virginica
149,0.444444,-0.124958,5.1,1.8,virginica